.hints {
  & {
    position: absolute;
    top: -52px;
    right: calc(100% + 17px);
    z-index: 1000;
    width: 332px;
    border-radius: 24px;
    border: 1px solid #edf0f2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 16px 40px #7090b033;
    background-color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 46px;
    left: 100%;
    border: 13px solid transparent;
    border-left-color: white;
  }
  &[dir="rtl"] {
    right: unset;
    left: calc(100% + 17px);
    &::after {
      left: unset;
      right: 100%;
      border-left-color: transparent;
      border-right-color: white;
    }
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: #101218;
  }
  ul {
    & {
      margin: 0;
      padding: 0;
    }
    li {
      & {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 8px;
      }
      span {
        & {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          color: white;
          margin: 0px 8px;
        }
        i {
          font-size: 10px;
        }
      }
    }
  }
  p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    color: #101218;
  }
  @media (max-width: 400px) {
    & {
      width: 250px;
    }
    p {
      font-size: 13px;
    }
    > span {
      font-size: 12px;
    }
    > ul li {
      font-size: 11px;
    }
  }
}

// styling the li
.pass {
  color: #64748b;
  span {
    color: white !important;
    background-color: #00e063 !important;
  }
}
.fail {
  color: #101218;
  span {
    color: #0acba7 !important;
    border: 1px solid #0acba7;
  }
}
