<div class="hints" [dir]="'dir' | translate">
  <p>
    {{
      "authentication.sign-up.company-profile.histsComponent.header" | translate
    }}
  </p>
  <span>{{
    "authentication.sign-up.company-profile.histsComponent.paragraph"
      | translate
  }}</span>
  <ul>
    <li [ngClass]="{ pass: passed[0], fail: !passed[0] }">
      <span>
        @if (passed[0]) {
          <i class="fa-solid fa-check"></i>
        } @else {
          <i class="fa-solid fa-exclamation"></i>
        }</span
      >{{
        "authentication.sign-up.company-profile.histsComponent.hintOne"
          | translate
      }}
    </li>
    <li [ngClass]="{ pass: passed[1], fail: !passed[1] }">
      <span>
        @if (passed[1]) {
          <i class="fa-solid fa-check"></i>
        } @else {
          <i class="fa-solid fa-exclamation"></i>
        }</span
      >{{
        "authentication.sign-up.company-profile.histsComponent.hintTwo"
          | translate
      }}
    </li>
    <li [ngClass]="{ pass: passed[2], fail: !passed[2] }">
      <span>
        @if (passed[2]) {
          <i class="fa-solid fa-check"></i>
        } @else {
          <i class="fa-solid fa-exclamation"></i>
        }</span
      >{{
        "authentication.sign-up.company-profile.histsComponent.hintThree"
          | translate
      }}
    </li>
    <li [ngClass]="{ pass: passed[3], fail: !passed[3] }">
      <span>
        @if (passed[3]) {
          <i class="fa-solid fa-check"></i>
        } @else {
          <i class="fa-solid fa-exclamation"></i>
        }</span
      >{{
        "authentication.sign-up.company-profile.histsComponent.hintFour"
          | translate
      }}
    </li>
  </ul>
</div>
