* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:host ::ng-deep .p-button {
  background-color: transparent;
  color: #101218;
  border: none;
  outline: none;
  box-shadow: none;
}
:host ::ng-deep .p-card {
  position: relative;
  // width: 426px;

  border-radius: 50px;
}
.btns-container {
  display: flex;
  column-gap: 10px;
}
:host ::ng-deep .p-card-body {
  padding: 30px 0 0 0;
}

.card-head {
  display: flex;
  // justify-content: space-between !important;
  column-gap: 10px;
  width: 100%;
  padding: 24px;
}
.head-text h2 {
  font-size: 24px;
  font-weight: 700;
}
.head-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.img-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #e6fdf9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.img-container img {
  width: 43px;
  height: 43px;
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: space-between;
}
:host ::ng-deep .p-card-content .inner-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 30%;
}
:host ::ng-deep .p-card-content .inner-content p:first-child {
  color: #64748b;
  font-size: 12px;
}
:host ::ng-deep .p-card-content .inner-content p:nth-child(2) {
  color: #101218;
  font-size: 12px;
  font-weight: 600;
}
:host ::ng-deep .p-card-content .content-container {
  background-color: #edf0f2;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

:host ::ng-deep .p-card .p-card-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 0;
  width: 100%;
  align-items: center;
}
.view-detailbtn {
  width: 100px;
  height: 40px;
}
.sub-departmentbtn {
  width: 182px;
  height: 40px;
  font-size: 12px;
}
:host ::ng-deep .p-knob svg {
  width: 25px !important;

  height: 25px !important;
}
.chart {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}
.font {
  font-size: 12px;
}
/*menu start*/
.menu-container {
  position: absolute;
  top: 30px;
  right: 35px;
  .toggle {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    cursor: pointer;
  }
  .circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #101218;
  }
}
.menu-list {
  position: absolute;
  top: 50px;
  right: 20px;
  display: flex;
  background-color: #fff;
  width: 276px;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 24px;
  box-shadow: -4px 8px 20px 0px rgba(0, 39, 67, 0.08);
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    // row-gap: 8px;
    li {
      display: flex;
      width: 100%;
      align-items: center;
      column-gap: 10px;
      padding: 12px 16px;
      cursor: pointer;
      color: #101218;
      font-size: 14px;
      font-weight: 600;
    }
    li:hover {
      border-radius: 8px;
      background: #e6fdf9;
      .img {
        background-color: #0acba7;
      }
      .delete {
        background-color: #e85656;
      }
    }
    .del:hover {
      color: #e85656;
    }
  }
}

.edit {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url("../../../../../../../../../../../assets/images/company/SVG/editiconsvg.svg");
  mask-image: url("../../../../../../../../../../../assets/images/company/SVG/editiconsvg.svg");
  background-color: #101218;
  width: 20px;
  height: 20px;
}
.add {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url("../../../../../../../../../../../assets/images/company/SVG/record-injury.svg");
  mask-image: url("../../../../../../../../../../../assets/images/company/SVG/record-injury.svg");
  background-color: #101218;
  width: 20px;
  height: 20px;
}
.delete {
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-image: url("../../../../../../../../../../../assets/images/company/SVG/trash.svg");
  mask-image: url("../../../../../../../../../../../assets/images/company/SVG/trash.svg");
  background-color: #101218;
  width: 20px;
  height: 20px;
}

/*menu end*/
@media screen and (max-width: 1600px) and (min-width: 1200px) {
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
}

@media screen and (max-width: 992px) and (min-width: 800px) {
}

@media screen and (max-width: 800px) and (min-width: 500px) {
}

@media screen and (max-width: 500px) {
  :host ::ng-deep .p-card-body {
    padding: 0;
  }
  :host ::ng-deep .p-card-content .content-container {
    padding: 20px;
  }
  :host ::ng-deep .p-card .p-card-content {
    row-gap: 0;
  }
  :host ::ng-deep .p-card-content .content {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  :host ::ng-deep .p-card-content .inner-content {
    width: 50%;
  }
  .card-head {
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    .btns-container {
      flex-direction: column;
      row-gap: 10px;
    }
    .view-detailbtn {
      width: 100%;
    }
    .sub-departmentbtn {
      width: 100%;
    }
  }
}

:host ::ng-deep .p-card-content .content-container.green {
  background-color: #0acba7;
  & .inner-content p:first-child,
  & .inner-content p:nth-child(2) {
    color: #fff;
  }
}
