<div class="company-details">
    <h3>Company Details</h3>
    <hr>
    <div class="details-container">
        <div class="detail">
            <div class="img-container">
                <img src="../../../../../../../assets/images/company/SVG/file-text.svg" alt="">
                    
            </div>
  
            <div class="content">
                <p>Registration No.</p>
                <p>{{companyDetails.RegistrationNo}}</p>
            </div>
        </div>
        <div class="detail">
            <div class="img-container">
                <img src="../../../../../../../assets/images/company/SVG/Location.svg" alt="">
                    
            </div>
  
            <div class="content">
                <p>Institute No</p>
                <p>{{companyDetails.InstituteNo}}</p>
            </div>
        </div>
        
     
        <div class="detail">
            <div class="img-container">
                <img src="../../../../../../../assets/images/company/SVG/Icon (1).svg" alt="">
                    
                    
            </div>
  
            <div class="content">
                <p>Departments</p>
                <p>{{companyDetails.Departments}}</p>
            </div>
        </div>
        <div class="detail">
            <div class="img-container">
                <img src="../../../../../../../assets/images/company/SVG/Icon (1).svg" alt="">
                    
                    
            </div>
  
            <div class="content">
                <p>Unified National No.</p>
                <p>{{companyDetails.UnifiedNationalNo}}</p>
            </div>
        </div>
        <div class="detail">
            <div class="img-container">
                <img src="../../../../../../../assets/images/company/SVG/Icon (1).svg" alt="">
                    
                    
            </div>
  
            <div class="content">
                <p>GOSI No.</p>
                <p>{{companyDetails.GOSINo}}</p>
            </div>
        </div>
        
    </div>
  
  </div>