<form>
  <p>Please add your company website and social media below</p>

  <div class="input">
    <label for="">Company Website</label>
    <p-inputGroup>
      <p-inputGroupAddon> http:// </p-inputGroupAddon>
      <div class="hr"></div>
      <input pInputText placeholder="company.com" />
    </p-inputGroup>
  </div>
  <div class="inputs-container">
    <div class="input">
      <label for="">Instagram</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <img
            src="../../../../../assets/images/company/SVG/instagram.svg"
            alt=""
          />
        </p-inputGroupAddon>
        <div class="hr"></div>
        <input pInputText placeholder="America" />
      </p-inputGroup>
    </div>

    <div class="input">
      <label for="">FaceBook</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <img
            src="../../../../../assets/images/company/SVG/facebook.svg"
            alt=""
          />
        </p-inputGroupAddon>
        <div class="hr"></div>
        <input pInputText placeholder="America" />
      </p-inputGroup>
    </div>
  </div>
  <div class="inputs-container">
    <div class="input">
      <label for="">LinkedIn</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <img
            src="../../../../../assets/images/company/SVG/linkedin.svg"
            alt=""
          />
        </p-inputGroupAddon>
        <div class="hr"></div>
        <input pInputText placeholder="America" />
      </p-inputGroup>
    </div>

    <div class="input">
      <label for="">Twitter</label>
      <p-inputGroup>
        <p-inputGroupAddon>
          <img
            src="../../../../../assets/images/company/SVG/twitter.svg"
            alt=""
          />
        </p-inputGroupAddon>
        <div class="hr"></div>
        <input pInputText placeholder="America" />
      </p-inputGroup>
    </div>
  </div>
</form>
