@import "../../../../../../../style/authentication/placeholder";

.enterpass {
  & {
    @extend %container;
  }
  h1 {
    @extend %header;
  }
  p {
    @extend %paragraph;
  }
  span {
    @extend %link;
  }
  button {
    @extend %button;
  }
  a {
    @extend %backLink;
  }
  form {
    a {
      color: #0acba7;
      display: block;
      margin-left: auto;
    }
    label {
      @extend %label;
      &:not(:first-of-type) {
        margin-top: calc(32rem / 16);
      }
    }
    input {
      @extend %input;
      border: none;
      border-radius: 360px 0px 0px 360px;
    }
    &[dir="rtl"] input {
      border-radius: 0px 360px 360px 0px;
    }
    button {
      @extend %button;
    }
    .password {
      & {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 360px;
        border: 1px solid #edf0f2;
        background-color: white;
      }
      span {
        width: calc(50rem / 16);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    & > div:last-of-type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: calc(32rem / 16) 0px calc(16rem / 16);
      div {
        display: flex;
        align-items: center;
        gap: calc(10rem / 16);
      }
      label {
        font-size: clamp(calc(12rem / 16), 2vw, calc(14rem / 16));
        font-weight: 500;
        text-align: start;
        color: #64748b;
        margin-bottom: 0px;
        cursor: pointer;
      }
      input {
        width: calc(18rem / 16);
        height: calc(18rem / 16);
        cursor: pointer;
      }
      a {
        margin: 0;
      }
    }
  }
}

// styling for button if disabled
.not-allow {
  @extend %not-allow;
}

// not match password
.not-match {
  @extend %not-match;
  top: 0px;
  font-weight: 400 !important;
}
.not-match-confirm {
  border-color: red !important;
}
