<section class="enterpass" [dir]="'dir' | translate">
  <a routerLink="/companies" skipLocationChange>
    <img
      src="../../../../../../../assets/images/authentication/arrow-left.svg"
    />
    {{ "authentication.back" | translate }}
  </a>
  <header>
    <h1>{{ "authentication.sign-in.companyPassword.header" | translate }}</h1>
    <p>
      {{ "authentication.sign-in.companyPassword.paragraph" | translate
      }}<span>{{
        "authentication.sign-in.companyPassword.span" | translate
      }}</span>
    </p>
  </header>
  <form [formGroup]="password" [dir]="'dir' | translate">
    <label for="pass">{{
      "authentication.sign-in.companyPassword.password" | translate
    }}</label>
    <div
      class="password"
      [ngClass]="{
        'not-match-confirm':
          password.get('pass')?.invalid && password.get('pass')?.touched
      }"
    >
      <input
        placeholder="{{
          'authentication.sign-in.companyPassword.passwordPlaceholder'
            | translate
        }}"
        passRules
        type="text"
        maxlength="40"
        id="pass"
        class="form-control"
        formControlName="pass"
        [ngStyle]="{ display: displayPassword ? 'none' : 'block' }"
        (input)="onEnterPassword($event)"
      />
      <input
        passRules
        type="text"
        maxlength="40"
        formControlName="hiddenPass"
        class="hPass hidden form-control"
        [ngStyle]="{ display: !displayPassword ? 'none' : 'block' }"
        (input)="onDisplayedPassword($event)"
      />
      <!-- display eye image -->
      <span (click)="displayPassword = !displayPassword" class="">
        @if (!displayPassword) {
          <img
            src="../../../../assets/images/authentication/eye.svg"
            alt=""
            class=""
          />
        } @else {
          <img
            src="../../../../assets/images/authentication/eye-off.svg"
            alt=""
            class=""
          />
        }
      </span>
    </div>
    @if (password.get("pass")?.invalid && password.get("pass")?.touched) {
      <span class="not-match">{{
        "authentication.sign-in.companyPassword.requiredPassword" | translate
      }}</span>
    }
    <div>
      <div>
        <input type="checkbox" name="remember" id="remember" />
        <label for="remember">{{
          "authentication.sign-in.companyPassword.remember" | translate
        }}</label>
      </div>
      <a (click)="onNavigate()">{{
        "authentication.sign-in.companyPassword.forgot" | translate
      }}</a>
    </div>
    <button
      (click)="onLogin()"
      type="submit"
      [disabled]="password.get('pass')?.invalid || load()"
      [ngClass]="{
        'not-allow': password.get('pass')?.invalid || load()
      }"
    >
      @if (load()) {
        <app-loader />
      } @else {
        {{ "authentication.sign-in.companyPassword.button" | translate }}
      }
    </button>
  </form>
</section>
