<div class="content" [dir]="'dir' | translate">
  <h1>{{ "authentication.start-auth.welcome" | translate }}</h1>
  <button class="btn" routerLink="/sign-in" skipLocationChange>
    <img src="../../../../assets/images/authentication/user.svg" alt="" />
    <span>{{ "authentication.start-auth.in" | translate }}</span>
  </button>
  <button class="btn" routerLink="/sign-up" skipLocationChange>
    <img src="../../../../assets/images/authentication/user.svg" alt="" />
    <span>{{ "authentication.start-auth.up" | translate }}</span>
  </button>
</div>
