<section class="timeOut">
  <img
    src="../../../../../assets/images/authentication/timeOut-Clock.svg"
    alt=""
  />
  <h2>{{ "authentication.timeOut.header" | translate }}</h2>
  <img src="../../../../../assets/images/authentication/Timeout.svg" alt="" />
  <p>
    {{ "authentication.timeOut.paragraph" | translate }}
    <span>{{ "authentication.timeOut.span" | translate }}</span>
  </p>
  <a [routerLink]="back" skipLocationChange>{{ "authentication.timeOut.button" | translate }}</a>
</section>
