<form [formGroup]="passwordFormGroup" [dir]="'dir' | translate">
  <label for="password">{{
    "authentication.sign-up.company-profile.password" | translate
  }}</label>
  <div
    class="password"
    [ngClass]="{
      'not-match-confirm': !validity
    }"
  >
    <input
      placeholder="{{
        'authentication.sign-up.company-profile.passwordPlaceholder' | translate
      }}"
      passRules
      id="password"
      type="text"
      class="pass form-control"
      formControlName="password"
      maxlength="40"
      [ngStyle]="{ display: displayPassword ? 'none' : 'block' }"
      (input)="onEnterPassword($event)"
    />
    <input
      placeholder="{{
        'authentication.sign-up.company-profile.passwordPlaceholder' | translate
      }}"
      passRules
      (input)="onDisplayedPassword($event)"
      type="text"
      maxlength="40"
      formControlName="passwordHide"
      class="hPass hidden form-control"
      [ngStyle]="{ display: !displayPassword ? 'none' : 'block' }"
    />
    <!-- display eye image -->
    <span (click)="displayPassword = !displayPassword" class="">
      @if (!displayPassword) {
        <img
          src="../../../../assets/images/authentication/eye.svg"
          alt=""
          class=""
        />
      } @else {
        <img
          src="../../../../assets/images/authentication/eye-off.svg"
          alt=""
          class=""
        />
      }
    </span>
  </div>
  <div class="hints">
    @if (this.passwordFormGroup.get("password")?.value === "") {
      {{ "authentication.sign-up.company-profile.hint" | translate }} : 8
      {{ "authentication.sign-up.company-profile.minChar" | translate }}
      <span
        (mouseenter)="displayHints = true"
        (mouseleave)="displayHints = false"
        >!

        @if (displayHints) {
          <app-passwordHint [passed]="passedHints" />
        }
      </span>
    } @else {
      <div
        class="spans"
        [ngClass]="{
          bad: count < 4 && hPass.length < 8,
          medium: count < 4 && hPass.length >= 8,
          good: count === 4 && hPass.length >= 8 && hPass.length < 16,
          'very-good': count === 4 && hPass.length >= 16
        }"
      >
        <span></span><span></span><span></span><span></span>
      </div>
      <p>
        {{ "authentication.sign-up.company-profile.password" | translate }} :
        @if (count < 4 && hPass.length < 8) {
          {{
            "authentication.sign-up.company-profile.passStrength.weak"
              | translate
          }}
        } @else if (count < 4 && hPass.length >= 8) {
          {{
            "authentication.sign-up.company-profile.passStrength.medium"
              | translate
          }}
        } @else if (count === 4 && hPass.length >= 8 && hPass.length < 16) {
          {{
            "authentication.sign-up.company-profile.passStrength.good"
              | translate
          }}
        } @else if (count === 4 && hPass.length >= 16) {
          {{
            "authentication.sign-up.company-profile.passStrength.strong"
              | translate
          }}
        }
        <span
          (mouseenter)="displayHints = true"
          (mouseleave)="displayHints = false"
          >!

          @if (displayHints) {
            <app-passwordHint [passed]="passedHints" />
          }
        </span>
      </p>
    }
  </div>

  <label for="confirm">{{
    "authentication.sign-up.company-profile.confirmPassword" | translate
  }}</label>
  <div
    class="c-password"
    [ngClass]="{
      'not-match-confirm': !match && passwordFormGroup.get('confirm')?.touched
    }"
  >
    <input
      placeholder="{{
        'authentication.sign-up.company-profile.confirmPasswordPlaceholder'
          | translate
      }}"
      passRules
      id="confirm"
      type="text"
      class="conf form-control"
      formControlName="confirm"
      maxlength="40"
      [ngStyle]="{ display: displayConfirm ? 'none' : 'block' }"
      (input)="onEnterPassword($event)"
    />
    <input
      placeholder="{{
        'authentication.sign-up.company-profile.confirmPasswordPlaceholder'
          | translate
      }}"
      passRules
      (input)="onDisplayedPassword($event)"
      formControlName="confirmHide"
      type="text"
      maxlength="40"
      class="hConf hidden form-control"
      [ngStyle]="{ display: !displayConfirm ? 'none' : 'block' }"
    />
    <span (click)="displayConfirm = !displayConfirm" class="">
      @if (!displayConfirm) {
        <img
          src="../../../../assets/images/authentication/eye.svg"
          alt=""
          class=""
        />
      } @else {
        <img
          src="../../../../assets/images/authentication/eye-off.svg
                "
          alt=""
          class=""
        />
      }
    </span>
  </div>
  <!-- messages passed on validation -->
  @if (!match && passwordFormGroup.get("confirm")?.touched) {
    <span class="not-match">
      {{ "authentication.sign-up.company-profile.errors.notMatch" | translate }}
    </span>
  }
  <div>
    <button
      (click)="onNavigate()"
      [ngClass]="{
        'not-allow':
          this.passwordFormGroup.get('confirm')?.invalid ||
          !match ||
          !validity ||
          !parentData.valid ||
          load()
      }"
      [disabled]="
        this.passwordFormGroup.get('confirm')?.invalid ||
        !match ||
        !validity ||
        !parentData.valid ||
        load()
      "
    >
      @if (load()) {
        <app-loader />
      } @else {
        @if (parent() === "reset") {
          {{ "authentication.password-reset.reset.button" | translate }}
        } @else {
          {{ "authentication.sign-up.company-profile.button" | translate }}
        }
      }
    </button>
  </div>
</form>
