@import "../../../../../style/authentication/placeholder";
form {
  label {
    @extend %label;
    &:not(:first-of-type) {
      margin-top: calc(25rem / 16);
    }
  }
  input {
    @extend %input;
    border: none;
    width: calc(100% - 65px);
    border-radius: 360px 0px 0px 360px;
  }
  &[dir="rtl"] input {
    border-radius: 0px 360px 360px 0px;
  }
  button {
    @extend %button;
    margin: calc(30rem / 16) 0px;
  }
  // styling the password input
  .c-password,
  .password {
    & {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 360px;
      border: 1px solid #edf0f2;
      background-color: white;
    }
    span {
      width: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // styling the hints
  .hints {
    & {
      margin-top: calc(10rem / 16);
      font-weight: 400;
      font-size: clamp(calc(12rem / 16), 4vw, calc(14rem / 16));
      line-height: 14px;
      color: #a1a5b7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // flex-wrap: wrap;
      white-space: nowrap;
    }
    span {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 12px;
    }
    span:not(.spans span) {
      border: 1px solid #64748b;
      color: #64748b;
      &:hover {
        background-color: #0acba7;
        color: white;
        border: none;
      }
    }
    p {
      & {
        margin: 0;
        font-weight: 400;
        font-size: clamp(calc(12rem / 16), 3vw, calc(14rem / 16));
        line-height: 14px;
        color: #a1a5b7;
        @media (max-width: 440px) {
          margin-left: auto;
        }
      }
    }
    .spans {
      & {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
      }
      span {
        display: block;
        width: min(calc(60rem / 16), 10vw);
        height: 4px;
        border-radius: 10px;
        background-color: #edf0f2;
      }
    }
  }
}

// helping classes

// styling for button if disabled
.not-allow {
  cursor: not-allowed !important;
  background-color: #edf0f2 !important;
  color: #b8c1cc !important;
}

// not match password
.not-match {
  font-size: clamp(calc(12rem / 16), 3vw, calc(14rem / 16));
  color: red;
}
.not-match-confirm {
  border-color: red !important;
}

// style the spans based on password strength
.bad {
  span:nth-of-type(1) {
    background-color: #e85656 !important;
  }
}
.medium {
  span:nth-of-type(1),
  span:nth-of-type(2) {
    background-color: #ffc000 !important;
  }
}
.good {
  span:not(:last-of-type) {
    background-color: #00e063 !important;
  }
}
.very-good {
  span {
    background-color: #00e063 !important;
  }
}
