<div class="head-company-card">
    <div class="head">
        <h3>Head of the Company</h3>
        <a href="">See All</a>
    </div>
    <hr>
    <div class="member-container">
     @for (item of headOfCompany; track $index) {
        <div class="member">
            <img [src]="item.image" alt="">
            <div class="text">
                <p>{{item.name}}</p>
                <p>{{item.position}}</p>
            </div>
        </div>
     }
        <!-- <div class="member">
            <img src="../../../../../../../assets/images/company/1657230317532.png" alt="">
            <div class="text">
                <p>Nahuel Daye</p>
                <p>Chief Executive Officer</p>
            </div>
        </div> -->
        <!-- <div class="member">
            <img src="../../../../../../../assets/images/company/1657230317532.png" alt="">
            <div class="text">
                <p>Nahuel Daye</p>
                <p>Chief Executive Officer</p>
            </div>
        </div> -->
    </div>
  </div>